<ul>
	<li>Bruxelle</li>
	<li>Breme</li>
	<li>Berlin</li>
	<li>Rome</li>
	<li>Bucarest</li>
	<li>Sotteville</li>
	<li>Rouen</li>
	<li>Caen</li>
	<li>Tombouctou</li>
	<li>Le caire</li>
	<li>Clermont-F</li>
	<li>Agen</li>
</ul>